<h1>NEW/SAVE</h1> 
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyMenu</a>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link dropdown-toggle" href="#" id="productsList" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" #menu1>Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="productsList">
                        <a class="dropdown-item" href="/" >CRM</a>
                        <a class="dropdown-item" href="/menu">Remedy</a>
                        <a class="dropdown-item" href="/search">RTC</a>
                    </div>
                </li>
                <li><a href="#">About Us 12</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
